<launch>
  <node name="zima_matcher_test" pkg="zima_ros"
      type="zima_matcher_kobuki_test" args=""
      output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
  </node>

  <!-- <include file="$(find sc_mini)/launch/xtark_lidar_m10.launch">
    <arg name="laser_frame" value="lidar"/>
    <arg name="laser_topic" value="/scan"/>
    <arg name="port" value="/dev/sc_mini"/>
  </include> -->

  <!-- <include file="$(find nvilidar_ros)/launch/lidar.launch">
    <arg name="laser_frame" value="lidar"/>
    <arg name="port" value="/dev/ttyUSB1"/>
  </include> -->

</launch>
